# Vercel
.vercel

# Next.js
.next/
out/
next-env.d.ts.bak
tsconfig.tsbuildinfo

# Node
node_modules/
package-lock.json

# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
*.egg-info/
dist/
build/

# OS
.DS_Store

# Local env
.env.local
.env*.local
